{
    "max-concurrent-downloads": {{max-concurrent-downloads}},
    "max-concurrent-uploads": {{max-concurrent-uploads}},
    "log-driver": "{{log-driver}}",
    "log-opts": {
        "max-size": "{{max-size}}",
            "max-file":"{{max-file}}"
        }
   }